extends ./layouts/one_column.jade

block title
  title Freak-Style

block content
  header
    .content
      h1 FREAK STYLE !!
      h2 ( IS COMING )
      hr
      form
        input(type='text', placeholder='send us your email and win a discount')
        button(type='submit') Sign Up
