doctype html
html(lang="en")
  head
    block title
      title defaultTitle
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
    script(src='//localhost:35729/livereload.js')
  body
    block content
